In [2]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

In [15]:
current_font_list = matplotlib.rcParams['font.family']
font_path = "C:\Windows\Fonts\gulim.ttc"
kfont = matplotlib.font_manager.FontProperties(fname=font_path).get_name()

matplotlib.rcParams['font.family'] = [kfont] + current_font_list

pd_data = pd.read_csv('시도별_화재발생_현황_총괄__20230307160935.csv', encoding = 'cp949')
filter1 = pd_data['행정구역별'] != '전국' 
sub_data = pd_data[filter1]
sub_data.head()

,행정구역별,시점,건수 (건),사망 (명),부상 (명),재산피해(계) (천원),부동산 (천원),동산 (천원),이재가구수 (가구),이재민수 (명)
12,서울특별시,2010,5321,42,188,14503873,5948963,8554910,131,277
13,서울특별시,2011,5526,29,168,14185528,5887081,8298447,158,312
14,서울특별시,2012,5724,31,246,17382374,6132231,11250143,131,260
15,서울특별시,2013,5646,31,202,21495228,6814090,14681138,58,153
16,서울특별시,2014,5815,36,265,20052979,6674887,13378092,161,369

In [18]:
for i in sub_data[]