In [16]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib

current_font_list = matplotlib.rcParams['font.family']
font_path = "C:\Windows\Fonts\gulim.ttc"
kfont = matplotlib.font_manager.FontProperties(fname=font_path).get_name()

matplotlib.rcParams['font.family'] = [kfont] + current_font_list

df1 = pd.read_csv('116_DT_MLTM_5559_20230310170701.csv', encoding='cp949',header=[0])
df1.drop('단위', axis=1, inplace=True)
df1

,시도명,시군구,레벨01,항목,2020.01 월,2020.02 월,2020.03 월,2020.04 월,2020.05 월,2020.06 월,...,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,Unnamed: 42
0,서울,강남구,관용,경형,23,23,23,23,23,23,...,20,20,20,20,20,20,20,23,23,NaN
1,서울,강남구,관용,소형,61,61,61,68,62,62,...,58,58,58,58,58,58,58,58,58,NaN
2,서울,강남구,관용,중형,178,178,176,251,249,248,...,254,254,254,232,232,232,232,234,235,NaN
3,서울,강남구,관용,대형,5,5,5,5,5,5,...,4,4,4,4,3,3,4,3,3,NaN
4,서울,강남구,자가용,경형,781,776,783,784,801,804,...,766,762,785,834,846,853,966,1275,1369,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
203,서울,서울기타,관용,대형,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
204,서울,서울기타,자가용,경형,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
205,서울,서울기타,자가용,소형,7,7,7,7,7,7,...,6,6,6,6,6,5,5,5,5,NaN
206,서울,서울기타,자가용,중형,5,5,5,5,5,5,...,3,3,3,3,3,3,3,3,3,NaN
207,서울,서울기타,자가용,대형,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN