In [ ]:
#소수 : 1과 자기자신으로만 나누어 떨어지는 수 . ex)2,3,5,7 ...

In [36]:
n = 7
flag = 0
for i in range(2,n):
    
    if n % i == 0:
        print('소수가 아닙니다.')
        flag = 1
        break

if flag == 0:
    print('prime')

prime

# 1000 아래 모든 소수를list_prime 에 넣기

In [8]:
prime_list = []
for n in range(2, 1000):
    flag = 0
    for i in range(2,n):
        if n % i == 0:
            #print('not prime')
            flag = 1
            break
    if flag == 0:
        prime_list.append(n)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [4]:
def is_prime(n):
    for i in range(2,10001):
        if n % i == 0:
            return False
        else:
            return True

is_prime(23)
is_prime(24)

False

In [7]:
prime_list = []
for n in range(2,100):
    if is_prime(n) == True:
        prime_list.append(n)
print(prime_list)

[3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]