In [1]:
import sys
print(sys.version)

3.10.9 (tags/v3.10.9:1dd9be6, Dec  6 2022, 20:01:21) [MSC v.1934 64 bit (AMD64)]

In [9]:
a = 10 #변수를 사용하는데 있어서 데이터 타입이 정해져 있지 않다.
print(type(a)) #자료형 확인
print(a)

b = 10.5
print(type(b))

c = 'abcd'
print(type(c))

d  = True
print(type(d))

del c #변수 삭제

<class 'int'>
10
<class 'float'>
<class 'str'>
<class 'bool'>

In [11]:
 print(c) # Code cell 코드셀을 넘어가도 변수는 그대로 유지된다.

NameError: name 'c' is not defined

In [22]:
#list, tuple, set, dictionary

list1 = [1,2,3,4]
print(list1)
print(type(list1))

list2 = [113.2, 1,False,'asdw',[1,2,3,4]]
print(list2)

tuple1 = (1,2,3,4) # 튜플은 한번 만들면 값을 수정할 수 없다
print(tuple1)
print(type(tuple1))

set1 = {1,2,3,4}
print(set1)

list2 = [1,2,3,4,4,5,5,5]
set2 = {1,2,3,4,4,5,5,5} #set은 중복된 값이 들어갈 수 없다

print(list2)
print(set2)

d1 = {'a':1, 'b':2, 'c':3} # 딕셔너리는 Key 와 Values로 이루어져 있ㄷ
print(d1)
print(type(d1))

[1, 2, 3, 4]
<class 'list'>
[113.2, 1, False, 'asdw', [1, 2, 3, 4]]
(1, 2, 3, 4)
<class 'tuple'>
{1, 2, 3, 4}
[1, 2, 3, 4, 4, 5, 5, 5]
{1, 2, 3, 4, 5}
{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>

In [26]:
a = 5
if a > 5 :
    print('greater then 10')
elif a > 3:
    print('greater then 3') #조건이 true인 쪽에서 멈추고 빠져나온다.
elif a == 5:
    print('is five')
else:
    print('not gerater then 10')

greater then 3

In [30]:
for _ in range(4): #변수 없이 반복을 돌릴려면 _로 채워준다.
    print('message')

message
message
message
message

In [37]:
a = range(0,50,3) #(0,4) 와 같다  start ,stop , 
print(a)
print(type(a))

for i in a:
    print(i)

range(0, 50, 3)
<class 'range'>
0
3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48

In [42]:
#100에서 500미만 5의 배수 출력.

list1 = []
for i in range(100, 500, 5):
    list1.append(i)

print(list1)

[100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495]

In [45]:
list2 = [x / 5 for x in range(100,500,5)] # x를 집어넣는데 x값은 for문을 돌리면서 나오는 것들
print(list2)

[20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0, 88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 96.0, 97.0, 98.0, 99.0]

In [85]:
list3 = []
for i in range(1,100):
    if i % 3 == 0 or i % 5 == 0:
        list3.append(i)
print(list3)
print(sum(list3))
print("=================================")

list4 = [ i for i in range(0, 100, 3)]
list5 = [ i for i in range(0, 100, 5)]
print (list4 + list5)
print("=================================")

list_all =[]
for i in list4:
    list_all.append(i)
for i in list5:
    list_all.append(i)
print(list_all)

print(set1)

SyntaxError: invalid syntax (4210637251.py, line 14)

In [86]:
list_a = [ i for i in range(0,100) if i % 3 == 0 or i % 5 == 0]
print(sum(list_a))

2318