- 전국 / 지자체별 푸드트럭 허가구역 갯수
- 전국 / 지자체별 푸드트럭 운영대수

In [9]:
import numpy as np
import pandas as pd

pop_df = pd.read_csv('전국푸드트럭허가구역표준데이터.csv',encoding='cp949')

In [18]:
# print(pop_df.shape)
num_describe = pop_df.describe()
# print(num_describe.columns)
# print(pop_df.columns)

lista = list(pop_df.columns)

for e in list(num_describe.columns):
    lista.remove(e)
print(len(pop_df.columns),len(lista))

pop_df[lista].describe()

47 43

,허가구역명,시도명,시군구명,소재지도로명주소,소재지지번주소,허가구역사용료,허가구역운영시작일자,허가구역운영종료일자,허가구역휴무일,허가구역평일운영시작시각,...,11월운영시작시각,11월운영종료시각,12월운영시작시각,12월운영종료시각,판매제한품목,관리기관명,관리기관전화번호,데이터기준일자,제공기관코드,제공기관명
count,342,342,342,239,311,342,342,342,342,342,...,126,126,124,124,95,342,342,342,342,342
unique,304,16,103,216,276,123,255,197,58,19,...,13,12,13,12,18,115,132,87,108,108
top,아파트,경기도,흥덕구,충청북도 청주시 흥덕구 옥산면 오송가락로 1056 (청주리버파크자이),충청북도 청주시 흥덕구 송절동 851 청주테크노폴리스푸르지오,0,2021-01-01,2022-12-31,연중무휴,00:00,...,09:00,18:00,09:00,18:00,주류,충청북도 청주시 흥덕구청,043-201-1972,2022-08-18,5710000,충청북도 청주시
freq,10,80,23,5,5,180,10,39,240,113,...,45,28,45,28,58,23,36,36,36,36

In [24]:
# print(pop_df.head())
for i in enumerate(pop_df.columns):
    print(i)

(0, '허가구역명')
(1, '장소유형')
(2, '시도명')
(3, '시군구명')
(4, '소재지도로명주소')
(5, '소재지지번주소')
(6, '위도')
(7, '경도')
(8, '푸드트럭운영대수')
(9, '허가구역사용료')
(10, '허가구역운영시작일자')
(11, '허가구역운영종료일자')
(12, '허가구역휴무일')
(13, '허가구역평일운영시작시각')
(14, '허가구역평일운영종료시각')
(15, '허가구역주말운영시작시각')
(16, '허가구역주말운영종료시각')
(17, '1월운영시작시각')
(18, '1월운영종료시각')
(19, '2월운영시작시각')
(20, '2월운영종료시각')
(21, '3월운영시작시각')
(22, '3월운영종료시각')
(23, '4월운영시작시각')
(24, '4월운영종료시각')
(25, '5월운영시작시각')
(26, '5월운영종료시각')
(27, '6월운영시작시각')
(28, '6월운영종료시각')
(29, '7월운영시작시각')
(30, '7월운영종료시각')
(31, '8월운영시작시각')
(32, '8월운영종료시각')
(33, '9월운영시작시각')
(34, '9월운영종료시각')
(35, '10월운영시작시각')
(36, '10월운영종료시각')
(37, '11월운영시작시각')
(38, '11월운영종료시각')
(39, '12월운영시작시각')
(40, '12월운영종료시각')
(41, '판매제한품목')
(42, '관리기관명')
(43, '관리기관전화번호')
(44, '데이터기준일자')
(45, '제공기관코드')
(46, '제공기관명')
0      2018
1      2018
2      2019
3      2020
4      2022
       ...
337    2021
338    2021
339    2022
340    2022
341    2022
Name: 허가구역운영시작일자, Length: 342, dtype: int64

In [37]:
x = pop_df['허가구역운영시작일자'].astype(np.datetime64) #날짜 있는것
# print(x.dt.year)
x = pop_df['허가구역휴무일'].astype('category') #
# print(x)
# print(x.cat.codes)
df1 = pd.DataFrame({'label': x, 'codes': x.cat.codes})
df1.sort_values(['codes','label'], ascending=False) # ascendig = False 내림차순

                  label  codes
217             화요일+수요일     57
5           화+수+목+금+토+일     56
101         화+수+목+금+토+일     56
199               행사종료일     55
200               행사종료일     55
..                  ...    ...
115  1개월 내 3~4일 비정기적 휴무      1
68                    -      0
69                    -      0
70                    -      0
71                    -      0

[342 rows x 2 columns]

In [15]:
antional_site_count = pop_df.shape[0]
pop_df['시도명'].value_counts()

경기도        80
경상남도       48
충청북도       41
강원도        34
충청남도       24
서울특별시      17
제주특별자치도    17
광주광역시      14
전라남도       13
대구광역시      12
경상북도       11
부산광역시       9
인천광역시       8
전라북도        7
대전광역시       6
울산광역시       1
Name: 시도명, dtype: int64

In [8]:
pop_df['시도명'].describe()
pop_df['푸드트럭운영대수'].describe()
print(pop_df[['시도명','푸드트럭운영대수']].describe())

         푸드트럭운영대수
count  251.000000
mean     1.768924
std      2.952015
min      0.000000
25%      1.000000
50%      1.000000
75%      1.000000
max     25.000000

In [7]:
pop_df['푸드트럭운영대수'].sum()

444.0

In [38]:
sub_data = pop_df[['시도명','푸드트럭운영대수']]
x = sub_data.groupby('시도명').sum()
print(type(x))
print(x)

<class 'pandas.core.frame.DataFrame'>
         푸드트럭운영대수
시도명
강원도          25.0
경기도         136.0
경상남도         57.0
경상북도         17.0
광주광역시        14.0
대구광역시         4.0
대전광역시        12.0
부산광역시        17.0
서울특별시        35.0
울산광역시         1.0
인천광역시         9.0
전라남도         29.0
전라북도         10.0
제주특별자치도      41.0
충청남도         30.0
충청북도          7.0

In [51]:
def myfu(x):
#     print(x, type(x))
#     return np.sum(x['푸드트럭운영대수'])*100
    return np.sum(x)*100

sub_data = pop_df[['시도명','푸드트럭운영대수']]
# print(sub_data)
g1 = sub_data.groupby('시도명')
# g1.sum()
# g1.count()
# g1.std()
# g1.describe()
# g1.aggregate([np.sum,np.mean,np.std])
# g1.aggregate(lambda x: np.sum(x) * 100) # 함수를 커스텀해서 사용가능
# g1.apply(lambda x: np.sum(x) * 100)
# g1.aggregate(myfu)
g1.apply(myfu)

                                                       시도명  푸드트럭운영대수
시도명
강원도      강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강원도강...    2500.0
경기도      경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경기도경...   13600.0
경상남도     경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상남도경상...    5700.0
경상북도     경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상북도경상...    1700.0
광주광역시    광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광주광역시광...    1400.0
대구광역시    대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대구광역시대...     400.0
대전광역시    대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대전광역시대...    1200.0
부산광역시    부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부산광역시부...    1700.0
서울특별시    서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서울특별시서...    3500.0
울산광역시    울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울산광역시울...     100.0
인천광역시    인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인천광역시인...     900.0
전라남도     전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라남도전라...    2900.0
전라북도     전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라북도전라...    1000.0
제주특별자치도  제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별자치도제주특별...    4100.0
충청남도     충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청남도충청...    3000.0
충청북도     충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청북도충청...     700.0

In [53]:
def myfu2(x):
    if x == np.NaN:
        return 0.0
    else:
        return x
pop_df['푸드트럭운영대수'].apply(myfu2)

0      1.0
1      1.0
2      1.0
3      NaN
4      NaN
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64

In [54]:
x = pop_df['푸드트럭운영대수']
x.replace(np.NaN,0.0)

0      1.0
1      1.0
2      1.0
3      0.0
4      0.0
      ...
337    1.0
338    1.0
339    1.0
340    1.0
341    1.0
Name: 푸드트럭운영대수, Length: 342, dtype: float64