In [3]:
import numpy as np
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_df = pd.read_csv(url, header=None)

print(iris_df)

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [7]:
print(iris_df.index)
print(iris_df.columns)
iris_df.columns = list('abcde')
print(iris_df.head())

RangeIndex(start=0, stop=150, step=1)
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
     a    b    c    d            e
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [20]:
# iris_df['x'] = iris_df['a']/iris_df['b']
iris_df.insert(2, 'x2', iris_df['a']/iris_df['b'] )
iris_df_d = iris_df.drop(['e','x','a/b = x'], axis = 1)
print(iris_df)
print(iris_df_d)

       a    b        x2    c    d               e         x   a/b = x
0    5.1  3.5  1.457143  1.4  0.2     Iris-setosa  1.457143  1.457143
1    4.9  3.0  1.633333  1.4  0.2     Iris-setosa  1.633333  1.633333
2    4.7  3.2  1.468750  1.3  0.2     Iris-setosa  1.468750  1.468750
3    4.6  3.1  1.483871  1.5  0.2     Iris-setosa  1.483871  1.483871
4    5.0  3.6  1.388889  1.4  0.2     Iris-setosa  1.388889  1.388889
..   ...  ...       ...  ...  ...             ...       ...       ...
145  6.7  3.0  2.233333  5.2  2.3  Iris-virginica  2.233333  2.233333
146  6.3  2.5  2.520000  5.0  1.9  Iris-virginica  2.520000  2.520000
147  6.5  3.0  2.166667  5.2  2.0  Iris-virginica  2.166667  2.166667
148  6.2  3.4  1.823529  5.4  2.3  Iris-virginica  1.823529  1.823529
149  5.9  3.0  1.966667  5.1  1.8  Iris-virginica  1.966667  1.966667

[150 rows x 8 columns]
       a    b        x2    c    d
0    5.1  3.5  1.457143  1.4  0.2
1    4.9  3.0  1.633333  1.4  0.2
2    4.7  3.2  1.468750  1.3  0.2
3    4.6  3.1  1.483871  1.5  0.2
4    5.0  3.6  1.388889  1.4  0.2
..   ...  ...       ...  ...  ...
145  6.7  3.0  2.233333  5.2  2.3
146  6.3  2.5  2.520000  5.0  1.9
147  6.5  3.0  2.166667  5.2  2.0
148  6.2  3.4  1.823529  5.4  2.3
149  5.9  3.0  1.966667  5.1  1.8

[150 rows x 5 columns]

In [23]:
s1 = pd.Series(list('abcde'), index = [x for x in range(5)])
s2 = pd.Series(list('XYZF'), index = [3,2,5,1])
df1 = pd.DataFrame({'a': s1, 'b': s2 })
print(df1)

     a    b
0    a  NaN
1    b    F
2    c    Y
3    d    X
4    e  NaN
5  NaN    Z

In [34]:
# print(df1.isna()) #값이 있으면 false
# print(df1.dropna()) #null값이 있으면 전부 지움
# print(df1.replace(np.NaN,'*')) #null값을 ''으로 채움
df1['a'] = df1['a'].replace(np.NaN, 'xx')
df1['b'].replace(np.NaN, 'ppp', inplace = True) #원본값 바꾸는 
print(df1)

    a    b
0   a  ppp
1   b    F
2   c    Y
3   d    X
4   e  ppp
5  xx    Z