- 남/여 인구비율 - 인구 남 여 column 다음에 위치

- 한국인 외국인 비율 인구밀도 앞에 위치

In [27]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pop_df = pd.read_csv('등록인구추이_20230223163304.csv',encoding= 'cp949')
print(pop_df.drop(0, axis = 0, inplace=True))
pop_df.columns = ['시점','세대수','인구','인구_남','인구_여','한국인','외국인','인구밀도']

print(pop_df.head())

None
     시점      세대수       인구     인구_남     인구_여      한국인    외국인    인구밀도
1  2018  1480468  3494019  1721327  1772692  3441453  52566  769.94
2  2019  1497908  3466563  1704098  1762465  3413841  52722  770.07
3  2020  1530431  3438710  1686412  1752298  3391946  46764  770.07

In [45]:
pop_df['인구_남']
pop_df.loc[:,'인구_남']
pop_df.iloc[:,3]

v = pop_df['인구_남'].astype(np.float64)/pop_df['인구_여'].astype(np.float64)
n = pop_df['한국인'].astype(np.float64)/pop_df['외국인'].astype(np.float64)
# pop_df.insert(5,'인구_남/여',v)
# pop_df.insert(8,'한국인/외국인',n)
pop_df

,시점,세대수,인구,인구_남,인구_여,인구_남/여,한국인,외국인,한국인/외국인,인구밀도
1,2018,1480468,3494019,1721327,1772692,0.971024,3441453,52566,65.469182,769.94
2,2019,1497908,3466563,1704098,1762465,0.966883,3413841,52722,64.751736,770.07
3,2020,1530431,3438710,1686412,1752298,0.962400,3391946,46764,72.533273,770.07

In [50]:
pop_df.dtypes
pop_df.astype(np.float64) # 일괄적으로 데이터타입 변환이 가능하다

,시점,세대수,인구,인구_남,인구_여,인구_남/여,한국인,외국인,한국인/외국인,인구밀도
1,2018.0,1480468.0,3494019.0,1721327.0,1772692.0,0.971024,3441453.0,52566.0,65.469182,769.94
2,2019.0,1497908.0,3466563.0,1704098.0,1762465.0,0.966883,3413841.0,52722.0,64.751736,770.07
3,2020.0,1530431.0,3438710.0,1686412.0,1752298.0,0.962400,3391946.0,46764.0,72.533273,770.07

In [51]:
# iris_df.insert(2, 'x2', iris_df['a']/iris_df['b'] )
pop_np = pop_df.to_numpy().astype(np.float64)
# print(pop_np[:,3]/pop_np[:,4])
print(pop_np)

[[2.01800000e+03 1.48046800e+06 3.49401900e+06 1.72132700e+06
  1.77269200e+06 9.71024295e-01 3.44145300e+06 5.25660000e+04
  6.54691816e+01 7.69940000e+02]
 [2.01900000e+03 1.49790800e+06 3.46656300e+06 1.70409800e+06
  1.76246500e+06 9.66883314e-01 3.41384100e+06 5.27220000e+04
  6.47517355e+01 7.70070000e+02]
 [2.02000000e+03 1.53043100e+06 3.43871000e+06 1.68641200e+06
  1.75229800e+06 9.62400231e-01 3.39194600e+06 4.67640000e+04
  7.25332735e+01 7.70070000e+02]]