In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd_raw = pd.read_csv("전국일방통행도로표준데이터.csv", encoding = 'cp949')
column_select = ['시도명', '지정사유', '지정연도', '도로폭', '도로차로수', '보차분리여부']
pd_data = pd_raw[column_select]
pd_data

        시도명  지정사유  지정연도  도로폭  도로차로수 보차분리여부
0       경기도   NaN   NaN  5.0    1.0      Y
1       경기도   NaN   NaN  5.0    1.0      Y
2       경기도   NaN   NaN  9.0    1.0      Y
3       경기도   NaN   NaN  4.0    1.0      Y
4       경기도   NaN   NaN  4.0    1.0      Y
...     ...   ...   ...  ...    ...    ...
2154    경기도  통행원활   NaN  6.0    1.0      N
2155    경기도  통행원활   NaN  6.0    1.0      N
2156    경기도  통행원활   NaN  6.0    1.0      N
2157    경기도  통행원활   NaN  6.0    1.0      N
2158  서울특별시   NaN   NaN  9.5    1.0      N

[2159 rows x 6 columns]

In [5]:
#csv
pd_data.to_csv('전국일방통행도로표준데이터_pass1.csv')


#pickle
# with open('전국일방통행도로표준데이터_pass1.pickle','wb') as f:
#     pickle.dump(pd_data,f)

In [6]:
# pd_data.describe(include = 'all')
print(pd_data.shape)
print(pd_data.dtypes)
print('****************************')
for e in pd_data:
    print(e,'\t', pd_data[e].hasnans)

(2159, 6)
시도명        object
지정사유       object
지정연도      float64
도로폭       float64
도로차로수     float64
보차분리여부     object
dtype: object
****************************
시도명 	 False
지정사유 	 True
지정연도 	 True
도로폭 	 False
도로차로수 	 True
보차분리여부 	 False

In [11]:
#시도명
print(pd_data['시도명'].unique())
print(pd_data['시도명'].hasnans)
#결측지 없음 

#오류치:10 -> 강원도
# print(pd_raw[pd_raw['시도명']=='10'])
filter1 = pd_raw['시도명']=='10'
# pd_data[filter1]['시도명'] = '강원도' #warning
pd_data.loc[filter1,'시도명'] = '강원도'

#이상치 없음
print(pd_data['시도명'].unique())
print(pd_data['시도명'].hasnans)

['경기도' '경상북도' '제주특별자치도' '인천광역시' '강원도' '경상남도' '서울특별시' '충청남도' '전라남도' '전라북도'
 '광주광역시' '충청북도']
False
['경기도' '경상북도' '제주특별자치도' '인천광역시' '강원도' '경상남도' '서울특별시' '충청남도' '전라남도' '전라북도'
 '광주광역시' '충청북도']
False

In [22]:
#지정사유
print(pd_data['지정사유'].unique())
print(pd_data['지정사유'].hasnans)

#걸측지
na_filter = pd_data['지정사유'].isna()
print(na_filter.value_counts())
pd_data.loc[na_filter,'지정사유'] = '불분명' #pd_data [지정사유].fillna(불분명)

#오류치 : 같은내용 다른이름 정리
def e1(x):
    if '원할' in x:
        return '원할'
    elif '불편' in x:
        return '불편'
    elif '안전' in x:
        return '안전'
    elif '혼잡' in x:
        return '혼잡'
pd_data.loc[:,'지정사유'] = pd_data.loc[:, '지정사유'].apply(e1)

#이상치 없음

['불분명' '통행원활' '교통불편 해소' '원활한 차량통행을 위하여 지정' '보행안전' '통행안전' '원활한교통통행'
 '차량소통 촉진 및 보행자 안전' '보행자안전확보' '주민건의' '교행불가' '교통소통' '원활한 교통흐름 및 보행 안전'
 '주차혼잡구간' '본도로 진입불가' '시장혼잡구간' '주택밀집지역' '고가도로' '교통사고 다발' '원통전통시장주차장 출입구'
 '교통안전' '교통흐름을 원활히 하기 위함' '부채도로' '주민편의' '순환차로' '교통혼잡 및 소통 원활 필요' '도로협소'
 '혼잡지역' '혼자지역' '혼잡구역' '혼잡비역' '차량교행']
False
False    2159
Name: 지정사유, dtype: int64

C:\Users\ITPS\AppData\Local\Temp\ipykernel_8288\3402835817.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pd_data.loc[:,'지정사유'] = pd_data.loc[:, '지정사유'].apply(e1)

In [29]:
print(pd_data['지정연도'].unique())
print(pd_data['지정연도'].hasnans)

#결측지
na_filter = pd_data['지정연도'].isna()
print(na_filter.value_counts())
pd_data.loc[na_filter, '지정연도']= 0

[  nan 2017. 2018. 2014. 2005. 2019. 2022. 2016. 2012. 1999. 2021. 2015.
 2013. 2004. 2002. 2008. 2009. 2010. 2011. 1998. 2001. 2003. 2006. 2000.
 1995. 2020. 2007. 1990. 1997. 1996.]
True
True     1609
False     550
Name: 지정연도, dtype: int64

In [49]:
#도로폭
print(pd_data['도로폭'].unique())
print(pd_data['도로폭'].hasnans)

#걸측지 없음

#오류치 없음

#이상치 : 어퍼보다 큰 값을 난으로 교채, 후에  rdrdopena()
# print(pd_data['도로폭'].describe())
p1,p3 = pd_data['도로폭']
iqr = q3 - q1
upper = q3 + 1.5*jar
lower = q1 - 1.5*jar
print(upper,lower)
filter1 = pd_data['도로폭'] > upper
print(filter1.avlue_counts())

[ 5.   9.   4.   6.   7.5  8.   7.  12.  15.  16.   3.5  5.5  3.  10.
 14.   4.5  6.5 15.5  2.5  7.1  9.8  9.7  6.3  3.7  8.5  8.2 14.6  2.
  4.9  4.6  2.8  4.8  5.6  8.1  6.4  4.1  6.6  5.7  4.7  4.3  3.8  9.1
  7.4  5.3  5.8  4.2 17.  13.5 24.  11.   9.5 22.  19.   3.2  4.4  5.1
  5.9  3.9 32.   5.4  3.4 18.   7.3  3.3 13.   7.6  8.4  5.2  7.8  6.2
  6.7  8.8  7.7  8.3  6.1  6.9  6.8]
False

ValueError: too many values to unpack (expected 2)

In [50]:
#도로차로수
print(pd_data['도로차로수'].unique())
print(pd_data['도로차로수'].hasnans)

#결측지:
na_filter = pd_data['도로차로수'].isna()
print(na_filter.value_counts())

#오류치: 60 --> np.NaN 대체 후 dropna 이용제거
filter1 = pd_data['도로차로수'] == 60
print(filter1.value_counts())
pd_data.loc[filter1,'도로차로수'] = np.NaN
print(pd_data['도로차로수'].unique())
print(pd_data['도로차로수'].dropna)

[ 1.  2.  4.  3.  5. nan]
True
False    2157
True        2
Name: 도로차로수, dtype: int64
False    2159
Name: 도로차로수, dtype: int64
[ 1.  2.  4.  3.  5. nan]
<bound method Series.dropna of 0       1.0
1       1.0
2       1.0
3       1.0
4       1.0
       ...
2154    1.0
2155    1.0
2156    1.0
2157    1.0
2158    1.0
Name: 도로차로수, Length: 2159, dtype: float64>

In [45]:
#보차분리여부
print(pd_data['보차분리여부'].unique())
print(pd_data['보차분리여부'].hasnans)
#결측지: 1ro ' ' 결측지 --> np.NaN로 대체 후에 삭제
na_filter = pd_data['보차분리여부'] == ' '
print(na_filter.value_counts())
pd_data.loc[na_filter, '보차분리여부'] = np.NaN
#오류치,이상치 = 없음``
print(pd_data['보차분리여부'].unique())
print(pd_data['보차분리여부'].hasnans)

['Y' 'N' nan]
True
False    2159
Name: 보차분리여부, dtype: int64
['Y' 'N' nan]
True

In [47]:
pd_data_f = pd_data.dropna()
print(pd_data.shape)
print(pd_data_f.shape)

(2159, 6)
(355, 6)

In [51]:
#조건  2개 : column a의 값이 1, column b의 값이  6
#교체대상 : column b의 값

_t = pd.DataFrame({'a': [1,1,2,2,], 'b': [5,6,5,6]})
print(df_t)
print('*******************')

f1 = df_t['a'] == 1
print(df_t.loc[f1,:])

print('*******************')
print(df_t.loc[f1,'b'])
df_t.loc[f1,'b']  = df_t.loc[f1,'b'].replace(6,100, inplace = True)
print(df_t)

   a    b
0  1  100
1  1  100
2  2    5
3  2    6
*******************
   a    b
0  1  100
1  1  100
*******************
0    100
1    100
Name: b, dtype: int64
   a    b
0  1  NaN
1  1  NaN
2  2  5.0
3  2  6.0